@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

header > h1 {
  text-align: center;
  font-weight: normal;
  font-size: 48pt;
  position: auto;
  width: auto;
  margin: auto;
  padding: 50px;
}

body, .text {
  transition: 0.25s;
  font-family: 'Open Sans', sans-serif;
}

div.container {
  border: none;
  position:absolute;
  top:0; bottom: 150px; left: 0; right: 0;
  margin: auto;
  padding:15px;
  text-align: center;
  height: 300px;
}

form {
  display: inline-block;
}

input.text {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  font-weight: lighter;
  text-align: center;
  font-size: 32pt;
  background-color: rgba(0,0,0,0);
  margin-top: -15px;
}

label.text {
  font-size: 34pt;
  font-weight: normal;
  display: inline-block;
  text-align: center;
}

input.text:focus {
  border-color: #ffffff;
}

div.inputgroup {
  text-align: center;
}

@media screen and (max-device-width:768px) {
  div.container {
    position:auto;
    display: auto;
    top: 75%;
  }
}
