<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ColourPreview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" title="Bootstrap" charset="utf-8">
  </head>
  <body>
    <header>
      <h1 class="text">ColourPreview</h1>
    </header>
    <div class="container">
      <form class="" action="index.html" method="get">
        <input type="text" name="hex" placeholder="Hex" class="text"><br>
        <input type="text" name="rgb" placeholder="RGB" class="text">
      </form>
    </div>
    <script src="colorpreview.js" charset="utf-8"></script>
  </body>
</html>
